section.sideBar {
  width: 20vw;
  height: 100vh;
  border-right: 2px $white-color solid;
  display: flex;
  flex-direction: column;
  button {
    margin: 1rem;
    height: 50px;
  }
  ul {
    overflow: auto;
    width: 20vw;
    list-style-type: none;
    li {
      padding: 1rem;
      margin: 0rem;
      margin-bottom: 1rem;
      text-align: left;
      height: 120px;
      width: 18vw;
      &:hover {
        box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
      }
      h1 {
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 0.5rem;
      }
    }
  }
}