$primary-color: #1b1b1b;
$secondary-color: #ff652f;
$title-color: #c70626;
$btn-color: #c70625;
$white-color: #f1f1f1;

@mixin form {
  width: auto;
  margin: 1rem 1rem 1rem 1rem;
  padding: 10px;
  font-size: 17px;
  border: none;
  background: #4b4b4b;
}