@import './config';
@import './components/note/note';
@import './components/side_bar/side_bar';

* {
  color: $white-color;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: $primary-color;
}

h1 {
  color: $title-color;
  margin: 2rem 0 2rem 0;
  font-size: 2rem;
  font-weight: 400;
}

button {
  border: none;
  padding: 12px 50px;
  background-color: $btn-color;
  bottom: 6rem;
  left: 6rem;
}

div.load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  p {
    margin-left: 1rem;
  }
}